@media (max-width: 1024px) {
  .intro__wrapper {
    padding: 70px 0 !important;
    flex-direction: column;
    align-items: center;
  }

  .intro__desc {
    text-align: center;
    margin-bottom: 50px;

    h1 {
      font-size: 40px;
    }
  }

  .about {
    .about__wrapper {
      padding: 70px 0;
      flex-direction: column;
    }

    .about__capabilities {
      margin-top: 70px;
    }

    .capabilities__row {
      justify-content: space-around;
    }

    .capabilities__item {
      max-width: 300px;
    }

    .about__desc {
      max-width: 500px;
      margin: 0 auto;
      padding: 0;
      text-align: center;
    }
  }

  .feature {
    padding: 70px 0;
  }

  .team__wrapper {
    flex-direction: column;
  }

  .team__title {
    text-align: center;

    p{
      margin: 20px auto 90px !important;

      &::after {
        left: 50% !important;
        transform: translate(-50%, 0);
      }
    }
  }

  .team__gallery__wrapper {
    padding-left: 0 !important;
  }

  .team__desc {
    text-align: center;

    p {
      margin: 20px auto;
    }

    ul {
      margin: 30px auto !important;
    }
  }

  .photo__big {
    margin: 0 auto;
    max-height: 450px;
  }
}

@media (max-width: 768px) {
  #header {
    margin-top: 0;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 20px;

    &.active {
      justify-content: space-between;
    }

    #menu {
      display: none;
      flex-direction: column;

      li {
        padding: 20px;
      }
    }

    #menu.active {
      display: flex !important;
    }

    #menu-button {
      display: inline-block;
    }
  }

  .about__desc {
    p {
      margin: 30px 0 !important;
    }
  }

  .about__capabilities {
    .capabilities__item {
      padding-right: 10px !important;
    }
  }

  .feature {
    p {
      margin: 30px auto 70px;

      &::after {
        bottom: -35px;
      }
    }

    nav {
      margin: 20px auto;

      a {
        font-size: 14px;
      }
    }
  }

  .subscribe {
    padding: 70px 0;

    form {
      align-items: center;

      [type="email"] {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
      }

      flex-direction: column;
    }
  }
}

@media (max-width: 425px) {
  .intro__wrapper {
    padding: 50px 0 !important;
  }

  .intro__desc {
    h1 {
      font-size: 30px;
    }
  }

  .about__wrapper {
    padding: 50px 0 !important;

    h2 {
      font-size: 25px;
    }
  }

  .capabilities__row {
    align-items: center;
    flex-direction: column;
  }

  .capabilities__item {
    padding-right: 0 !important;
  }

  .feature {
    padding: 50px 0;

    a {
      font-size: 12px;
    }
  }

  .team {
    padding-bottom: 50px;
  }

  .subscribe {
    padding: 50px 0;

    h2 {
      font-size: 30px;
    }
  }

  .footer__wrapper {
    text-align: center;
    flex-direction: column;

    .social {
      margin-top: 20px;
    }
  }
}