* {
  box-sizing: border-box; }
  *:hover, *:focus {
    outline: none; }

body {
  margin: 0;
  font-family: "Open Sans", sans-serif; }

a {
  color: #f6f2f1;
  text-decoration: none;
  display: inline-block; }

p {
  color: #666;
  line-height: 1.8; }

h1 {
  font-weight: 800;
  font-size: 50px; }

h2 {
  font-size: 35px; }

h3 {
  font-size: 25px;
  color: #666 !important; }

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 20px; }

.title {
  margin: 0;
  color: #312f30; }

.btn {
  padding: 15px 50px;
  font-weight: 600;
  border: none;
  background-color: #666;
  border-radius: 5px;
  transition: 0.1s; }

.intro {
  padding-top: 20px;
  background-color: #eee; }
  .intro header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #312f30; }
    .intro header #menu {
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      height: 100%;
      list-style: none; }
      .intro header #menu li {
        padding: 30px 20px;
        transition: background-color 0.1s; }
        .intro header #menu li:hover {
          background-color: #ff3f40; }
    .intro header #menu-button {
      display: none;
      background-color: transparent;
      border: none;
      padding: 0; }
      .intro header #menu-button img {
        height: 50px; }
  .intro .intro__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 100px 0; }
  .intro .intro__desc,
  .intro .intro__video {
    flex: 1; }
  .intro .intro__desc {
    max-width: 500px; }
    .intro .intro__desc p {
      max-width: 500px;
      margin-top: 30px;
      margin-bottom: 50px; }
    .intro .intro__desc a {
      background-color: #ff3f40; }
      .intro .intro__desc a:hover {
        background-color: #e43535; }
  .intro .intro__video {
    max-width: 400px; }
    .intro .intro__video img {
      display: block;
      height: 100%;
      width: 100%;
      object-fit: cover; }

.about .about__wrapper {
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #eee; }

.about .about__desc, .about .about__capabilities {
  flex: 1; }

.about .about__desc {
  padding-right: 100px; }
  .about .about__desc p {
    color: #312f30;
    margin: 50px 0; }
  .about .about__desc a {
    color: #ff3f40;
    background-color: #fff;
    border: 3px solid #ff3f40;
    transition: .1s; }
    .about .about__desc a:hover {
      color: #f6f2f1;
      background-color: #ff3f40; }

.about .about__capabilities {
  display: flex;
  flex-direction: column; }
  .about .about__capabilities .capabilities__row {
    display: flex;
    margin-bottom: 30px; }
    .about .about__capabilities .capabilities__row:last-child {
      margin: 0 !important; }
  .about .about__capabilities .capabilities__item {
    padding: 10px;
    padding-right: 20px;
    position: relative; }
    .about .about__capabilities .capabilities__item h3 {
      margin-top: 70px; }
  .about .about__capabilities .capabilities__icon {
    position: absolute;
    top: 10px;
    left: 10px; }

.feature {
  padding: 100px 0;
  text-align: center; }
  .feature p {
    position: relative;
    margin: 40px auto 100px;
    max-width: 500px; }
    .feature p::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -50px;
      transform: translate(-50%, 0);
      width: 120px;
      height: 3px;
      background-color: #ff3f40; }
  .feature nav {
    max-width: 700px;
    margin: 30px auto; }
    .feature nav ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 0;
      padding: 0;
      list-style: none; }
    .feature nav a {
      margin: 0 10px;
      font-weight: 600;
      color: #312f30;
      transition: .1s; }
      .feature nav a:hover {
        color: #ff3f40; }
  .feature .feature__gallery {
    display: flex;
    flex-direction: column; }
    .feature .feature__gallery .feature__gallery__row {
      display: flex; }
    .feature .feature__gallery img {
      width: 25%; }

.team {
  padding-bottom: 100px; }
  .team .team__title p {
    position: relative;
    margin: 20px 0 90px;
    color: #666;
    max-width: 500px; }
    .team .team__title p::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -30px;
      width: 120px;
      height: 3px;
      background-color: #ff3f40; }
  .team .photo__big {
    width: 100%;
    max-width: 400px;
    height: 450px; }
    .team .photo__big img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .team .team__wrapper {
    display: flex; }
  .team .team__gallery__wrapper {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 60px;
    flex: 1; }
  .team .team__desc p {
    max-width: 600px; }
  .team .team__desc ul {
    margin: 40px 0 40px;
    padding: 0;
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    list-style: none; }
    .team .team__desc ul a {
      font-style: italic;
      color: #666;
      font-weight: 600; }
  .team .team__gallery {
    display: flex;
    justify-content: space-between; }
    .team .team__gallery .gallery__photo__wrapper {
      position: relative;
      width: 23.5%;
      object-fit: cover; }
      @media (min-width: 1024px) {
        .team .team__gallery .gallery__photo__wrapper:hover::after {
          opacity: 1;
          visibility: visible; } }
      .team .team__gallery .gallery__photo__wrapper::after {
        width: 100%;
        padding: 5px 0;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        font-weight: 600;
        text-align: center;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 0);
        content: attr(data-name);
        color: #f6f2f1;
        transition: .1s; }
      .team .team__gallery .gallery__photo__wrapper img {
        width: 100%;
        height: 100%;
        object-fit: cover; }

.subscribe {
  padding: 100px 0;
  text-align: center;
  background-image: url("https://place-hold.it/1920x1080");
  background-position: center;
  background-size: cover; }
  .subscribe h2 {
    max-width: 1000px;
    margin: 0 auto; }
  .subscribe p {
    margin: 40px 0 70px; }
  .subscribe form {
    display: flex;
    max-width: 600px;
    margin: 0 auto; }
    .subscribe form [type="email"] {
      color: #666;
      border: none;
      background-color: #eee;
      border-radius: 5px;
      flex: 1;
      padding: 20px;
      margin-right: 15px; }
    .subscribe form [type="submit"] {
      background-color: #ff3f40;
      color: #f6f2f1;
      transition: .1s; }
      .subscribe form [type="submit"]:hover {
        background-color: #e43535; }
