@media (max-width: 1024px) {
  .intro__wrapper {
    padding: 70px 0 !important;
    flex-direction: column;
    align-items: center; }
  .intro__desc {
    text-align: center;
    margin-bottom: 50px; }
    .intro__desc h1 {
      font-size: 40px; }
  .about .about__wrapper {
    padding: 70px 0;
    flex-direction: column; }
  .about .about__capabilities {
    margin-top: 70px; }
  .about .capabilities__row {
    justify-content: space-around; }
  .about .capabilities__item {
    max-width: 300px; }
  .about .about__desc {
    max-width: 500px;
    margin: 0 auto;
    padding: 0;
    text-align: center; } }

@media (max-width: 768px) {
  #header {
    margin-top: 0;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 20px; }
    #header.active {
      justify-content: space-between; }
    #header #menu {
      display: none;
      flex-direction: column; }
      #header #menu li {
        padding: 20px; }
    #header #menu.active {
      display: flex !important; }
    #header #menu-button {
      display: inline-block; }
  .about__desc p {
    margin: 30px 0 !important; }
  .about__capabilities .capabilities__item {
    padding-right: 10px !important; } }

@media (max-width: 425px) {
  .intro__wrapper {
    padding: 50px 0 !important; }
  .intro__desc h1 {
    font-size: 30px; }
  .about__wrapper {
    padding: 50px 0 !important; }
    .about__wrapper h2 {
      font-size: 25px; }
  .capabilities__row {
    align-items: center;
    flex-direction: column; }
  .capabilities__item {
    padding-right: 0 !important; } }
